---
layout: default
format: frontpage
---
<!-- Profile pic & introduction -->
<div class="row t60 columns small-12 large-7 small-centered">

    <!-- Intro -->
    <div class="row">
        <!-- Profile pic -->
        <div class="columns small-12 small-text-center large-4 large-text-left">
            <img src={{ site.urlimg }}{{page.intro.profile-pic}} style="border-radius: 50%; object-fit: contain; max-height: 200px;"/>
        </div>

        <!-- Introduction -->
        <div class="columns small-12 small-text-center large-8 large-text-left" style="vertical-align: middle;">
            <h3>{{page.intro.text}}</h3>
        </div>
    </div>

    <!-- Guide Buttons -->
    <div class="row t60 small-centered">
        <ul class="small-block-grid-1 large-block-grid-3 text-center">
            <li style="display: inline-block;">{% include GuideButton.html button=page.guide-button-1 %}</li>
            <li style="display: inline-block;">{% include GuideButton.html button=page.guide-button-2 %}</li>
            <li style="display: inline-block;">{% include GuideButton.html button=page.guide-button-3 %}</li>
        </ul>
    </div>
    
    
</div>

<h2 class="row t50" style="text-align: center;">
    {{ page.widgets-introduction.text }}
</h2>

{% comment %}
*
* Widgets
*
{% endcomment %}
<div class="row t50 small-text-center large-text-left">
	{% if page.widget1.image or page.widget1.video or page.widget1.title %}
		{% include _frontpage-widget.html widget=page.widget1 %}
	{% endif %}

	{% if page.widget2.image or page.widget2.video or page.widget2.title %}
		{% include _frontpage-widget.html widget=page.widget2 %}
	{% endif %}

	{% if page.widget3.image or page.widget3.video or page.widget3.title %}
		{% include _frontpage-widget.html widget=page.widget3 %}
	{% endif %}
</div>




{% comment %}
*
* First check, if there are any posts at all
*


* * {% unless site.posts == empty %}
*     <div class="row t30 b20 homepage">
        <div class="small-12 columns">
            {% for post in site.posts limit:1 %}
            {% if post.image.homepage %}
            <p>
                <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" title="{{ post.title | escape_once }}"><img width="970" src="{{ site.urlimg }}{{ post.image.homepage }}" alt="{{ page.title | escape_once }}"></a>
            </p>

            {% if post.image.caption_url and post.image.caption %}
            <p class="text-right caption">
                <a href="{{ post.image.caption_url }}">{{ post.image.caption }}</a>
            </p>
            {% endif %}
            {% else post.image.homepage == NULL %}
            <h2>{{ site.data.language.new_blog_entries }}</h2>
            {% endif %}
            {% endfor %}
        </div><!-- /.small-12.columns -->
*     </div><!-- /.row -->
* 
* 
*     <div class="row">
        <div class="medium-6 columns">
            {% for post in site.posts limit:1 %}
            {% if post.subheadline %}<p class="subheadline">{{ post.subheadline }}</p>{% endif %}
            <h2><a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
            <p>
                {% if post.meta_description %}{{ post.meta_description | strip_html | escape }}{% else post.teaser %}{{ post.teaser | strip_html | escape }}{% endif %}
                <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" title="Read {{ post.title | escape_once }}"><strong>{{ site.data.language.read_more }}</strong></a>
            </p>
            {% endfor %}
        </div><!-- /.medium-5.columns -->


        <div class="medium-6 columns">
            <p><strong>{{ site.data.language.more_articles }}</strong></p>
            {% include list-posts entries='3' offset='1' %}
        </div><!-- /.medium-7.columns -->
*     </div><!-- /.row -->
* {% endunless %}
* 
* 
* {% comment %}
* *
* * Finally, if there is content, spit it out.
* *
* {% endcomment %}
* 
* <div class="row">
*     <!--{{ content }}-->
* </div><!-- /.row -->
* {% endcomment %}